<div class="container contact-page">
	<div class="col-sm-offset-2 col-sm-9">
		<div class="panel panel-info ">
			<div class="panel-heading">
				<h3>Thank you <%= @contact.name%> for contacting us</h3>

				<p>Your message has been successfully sent. We will contact you very soon!</p>
			</div>

		</div>
	</div>
</div>
