.card{
    background-color: white;
    padding: 20px 25px 30px;
    margin: 50px 0px 0px 0px;
}

.card-container.card {
    max-width: 345px;
}

.form-signin input{
  margin-bottom: 10px;
}
.product_name_height{
  min-height: 60px;
}

.cart_left_padding{
  padding-left: 70px;
}

.bg-orange{
	background-color: #FE980F;
}


.product_style:hover {
  box-shadow: 0px 0px 8px #E8E8E8;
  z-index: 1;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1.01);
}

.button {
  width: 85px !important;
  height: 35px !important;
  background: #FE980F !important;
  color: white !important;
}

.button:hover{
  width: 85px !important;
  height: 35px !important;
  background: #E0E0E0 !important;
  color: black !important;
}


.product_left_margin{
  width: 84px;
  height: 85px !important;
  margin-left: 20px;
}
.product_no_left_margin{
  width: 84px;
  height: 85px !important;
}

.social_login{
  padding: 60px 40px 40px 0px;
}

.social_login a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.social_login a:hover{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.google_sign_in{
  background-color: #dc4b38 !important;
  width: 100% !important;
}

.facebook_sign_in{
  background-color: #596da2 !important;
  width: 100% !important;
}
.twitter_sign_in{
  background-color: #39b3d7 !important;
  width: 100% !important;
}

.or_border{
  margin-top: 70px;
}

#brand-navigation ul li.active-link>a{
        background: #f1d74c;
        color: red;
        text-decoration: underline;
        border-bottom: 1px solid blue
    }

.brand_highlight{
  text-decoration: underline;
  /*color: #FE980F;
  text-decoration-color: #FE980F;*/
}

/*.social-share-button-facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("/social/facebook.png") no-repeat;
}*/



/*.fa-google-plus{
  text-transform: lowercase !important;
}*/

/*.cart_quantity_up{
  text-decoration: none
}

.cart_quantity_up:hover{
  text-decoration: none
}



a, a:hover, a:active, a:visited {
    text-decoration:none;
}*/