<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= render '/components/left_sidebar'%>
      </div>

      <div class="col-sm-9 padding-right">
        <%= render partial:'/components/category_tab', locals:{navigation_list: @category.subcategories}%>
      </div>
    </div>
  </div>
</section>